STRIPE_WEBHOOK_SECRET=changeme
STRIPE_PUBLISHABLE_KEY=changeme
# Example buy_btn_noNDIOn32ionfoin
# Your but button needs to be created in the same account
# For testing you also need to create a test buy button at
# https://dashboard.stripe.com/payment-links/create
STRIPE_BUY_BUTTON_ID=changeme

WEBHOOK_CLIENT_REFERENCE_ID_LOG_FILE_FULL_PATH=/change/me/webhook-client_reference_id.log